Final Code/Node_RED Flow
[{"id":"9b7a912f.06c23","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"3ee62070.231ac","type":"mqtt in","z":"9b7a912f.06c23","name":"","topic":"esp32/temperature","qos":"2","datatype":"auto","broker":"b6e3e97.dc76418","x":130,"y":140,"wires":[["6b15599d.a85ed8","5368860d.e441a8","e81044b9.803098","398a527b.d2089e"]]},{"id":"6b15599d.a85ed8","type":"debug","z":"9b7a912f.06c23","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":114,"wires":[]},{"id":"5368860d.e441a8","type":"ui_chart","z":"9b7a912f.06c23","name":"","group":"910d54e9.4f0bd8","order":5,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":390,"y":174,"wires":[[]]},{"id":"46ddd2fd.f944ac","type":"ui_text","z":"9b7a912f.06c23","group":"3c0ed2bf.dc55be","order":4,"width":0,"height":0,"name":"","label":"Last Transmission","format":"{{msg.payload}}","layout":"row-spread","x":919,"y":240,"wires":[]},{"id":"67902ee4.e3518","type":"mqtt in","z":"9b7a912f.06c23","name":"","topic":"esp32/battery","qos":"2","datatype":"auto","broker":"b6e3e97.dc76418","x":110,"y":560,"wires":[["932b6165.39f02","aa1f9abd.9f3ee8","7915a20d.5aaa6c"]]},{"id":"932b6165.39f02","type":"debug","z":"9b7a912f.06c23","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":534,"wires":[]},{"id":"aa1f9abd.9f3ee8","type":"ui_chart","z":"9b7a912f.06c23","name":"","group":"3c0ed2bf.dc55be","order":5,"width":0,"height":0,"label":"Battery Percentage","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":410,"y":594,"wires":[[]]},{"id":"4b7f2ce5.4c17e4","type":"mqtt in","z":"9b7a912f.06c23","name":"","topic":"esp32/turbidity","qos":"2","datatype":"auto","broker":"b6e3e97.dc76418","x":120,"y":380,"wires":[["5a6bf976.bc1318","cfb495bd.70dcc8","d5db6531.b579b8"]]},{"id":"5a6bf976.bc1318","type":"debug","z":"9b7a912f.06c23","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":354,"wires":[]},{"id":"cfb495bd.70dcc8","type":"ui_chart","z":"9b7a912f.06c23","name":"","group":"3f09a072.15191","order":5,"width":0,"height":0,"label":"Turbidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":380,"y":414,"wires":[[]]},{"id":"bfa7c655.3218b8","type":"mqtt in","z":"9b7a912f.06c23","name":"","topic":"esp32/rssi","qos":"2","datatype":"auto","broker":"b6e3e97.dc76418","x":100,"y":740,"wires":[["7774080f.575378","58bbe321.77d62c","5c1e0b86.71d5e4"]]},{"id":"7774080f.575378","type":"debug","z":"9b7a912f.06c23","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":714,"wires":[]},{"id":"58bbe321.77d62c","type":"ui_chart","z":"9b7a912f.06c23","name":"","group":"910d54e9.4f0bd8","order":5,"width":0,"height":0,"label":"Received Signal Strength Intensity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":460,"y":774,"wires":[[]]},{"id":"ec1fdd87.b422d","type":"moment","z":"9b7a912f.06c23","name":"","topic":"","input":"payload","inputType":"msg","inTz":"Europe/London","adjAmount":"2","adjType":"hours","adjDir":"add","format":"","locale":"en_GB","output":"payload","outputType":"msg","outTz":"Europe/London","x":669,"y":240,"wires":[["46ddd2fd.f944ac"]]},{"id":"e81044b9.803098","type":"change","z":"9b7a912f.06c23","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":389,"y":240,"wires":[["ec1fdd87.b422d"]]},{"id":"398a527b.d2089e","type":"function","z":"9b7a912f.06c23","name":"Modify Payload","func":"var d = new Date();\nvar t = d.getTime();\npayload = {\"time\":t, \"payload\":msg.payload, \"topic\":msg.topic};\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":649,"y":140,"wires":[["56ee9d0f.92d774"]]},{"id":"56ee9d0f.92d774","type":"csv","z":"9b7a912f.06c23","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":809,"y":140,"wires":[["a9c5358d.99d578"]]},{"id":"a9c5358d.99d578","type":"file","z":"9b7a912f.06c23","name":"","filename":"Temperature","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":959,"y":140,"wires":[[]]},{"id":"cfbc0137.45586","type":"ui_text_input","z":"9b7a912f.06c23","name":"","label":"Change Sample Period (min)","tooltip":"","group":"3c0ed2bf.dc55be","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":160,"y":1080,"wires":[["ec7bf854.90b098","1677dc58.fb92e4"]]},{"id":"9f90c0c.b07cb4","type":"mqtt out","z":"9b7a912f.06c23","name":"","topic":"esp32/SamplePeriod","qos":"","retain":"","broker":"b6e3e97.dc76418","x":680,"y":1080,"wires":[]},{"id":"ec7bf854.90b098","type":"debug","z":"9b7a912f.06c23","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":1140,"wires":[]},{"id":"d6053c67.39704","type":"ui_text","z":"9b7a912f.06c23","group":"3c0ed2bf.dc55be","order":3,"width":0,"height":0,"name":"","label":"Tx Sample Period (min)","format":"{{msg.payload}}","layout":"row-spread","x":430,"y":1380,"wires":[]},{"id":"1677dc58.fb92e4","type":"change","z":"9b7a912f.06c23","name":"","rules":[{"t":"set","p":"payload","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1080,"wires":[["9f90c0c.b07cb4"]]},{"id":"ad8ec4dc.4afae8","type":"ui_template","z":"9b7a912f.06c23","group":"3c0ed2bf.dc55be","name":"","order":1,"width":0,"height":0,"format":"<style>\n.led-green {\nmargin: 0 auto;\nwidth: 24px;\nheight: 24px;\nbackground-color: silver;\nborder-radius: 50%;\n{\n</style>\n<table>\n<tr>\n<td>Tx On</td>\n<td><div class=\"led-green\" style=\"background-color:{{msg.payload}}\"></div></td>\n</tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":600,"y":1260,"wires":[[]]},{"id":"5fac97d.011d868","type":"mqtt in","z":"9b7a912f.06c23","name":"","topic":"esp32/TxState","qos":"2","datatype":"auto","broker":"b6e3e97.dc76418","x":110,"y":1260,"wires":[["98c464d9.b08248"]]},{"id":"1c552f69.2698b1","type":"debug","z":"9b7a912f.06c23","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":1660,"wires":[]},{"id":"77a344dc.a1b8ec","type":"mqtt in","z":"9b7a912f.06c23","name":"","topic":"esp32/TxSamplePeriod","qos":"2","datatype":"auto","broker":"b6e3e97.dc76418","x":140,"y":1420,"wires":[["d6053c67.39704","e018144e.12b5d8"]]},{"id":"2ad93a83.33f066","type":"ui_button","z":"9b7a912f.06c23","name":"","group":"910d54e9.4f0bd8","order":6,"width":"0","height":"0","passthru":false,"label":"Restart Tx","tooltip":"","color":"","bgcolor":"","icon":"","payload":"restart","payloadType":"str","topic":"","x":110,"y":1620,"wires":[["deb98707.a8f648","1c552f69.2698b1"]]},{"id":"deb98707.a8f648","type":"mqtt out","z":"9b7a912f.06c23","name":"","topic":"esp32/restart","qos":"","retain":"","broker":"b6e3e97.dc76418","x":330,"y":1580,"wires":[]},{"id":"98c464d9.b08248","type":"change","z":"9b7a912f.06c23","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"wake","fromt":"str","to":"#ABFF00","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":1260,"wires":[["ad8ec4dc.4afae8"]]},{"id":"f195096f.dffe48","type":"mqtt in","z":"9b7a912f.06c23","name":"","topic":"esp32/snr","qos":"2","datatype":"auto","broker":"b6e3e97.dc76418","x":100,"y":915,"wires":[["5dedda6a.1b18b4","5f7a3fe6.a5fb5","d5a8c95.a5a1f38"]]},{"id":"5dedda6a.1b18b4","type":"debug","z":"9b7a912f.06c23","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":889,"wires":[]},{"id":"5f7a3fe6.a5fb5","type":"ui_chart","z":"9b7a912f.06c23","name":"","group":"3f09a072.15191","order":5,"width":0,"height":0,"label":"Signal to Noise Ratio","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":420,"y":949,"wires":[[]]},{"id":"aa0e1595.24da48","type":"ui_toast","z":"9b7a912f.06c23","position":"dialog","displayTime":"","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","topic":"Tx Battery Depleted","name":"","x":350,"y":1780,"wires":[[]]},{"id":"9b1f7fa.ce5c88","type":"mqtt in","z":"9b7a912f.06c23","name":"","topic":"esp32/shutdown","qos":"2","datatype":"auto","broker":"b6e3e97.dc76418","x":120,"y":1820,"wires":[["aa0e1595.24da48","2e88afa9.4a441"]]},{"id":"d5db6531.b579b8","type":"function","z":"9b7a912f.06c23","name":"Modify Payload","func":"var d = new Date();\nvar t = d.getTime();\npayload = {\"time\":t, \"payload\":msg.payload, \"topic\":msg.topic};\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":689,"y":380,"wires":[["93ca64b5.abf788"]]},{"id":"93ca64b5.abf788","type":"csv","z":"9b7a912f.06c23","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":849,"y":380,"wires":[["762b4e60.feae4"]]},{"id":"762b4e60.feae4","type":"file","z":"9b7a912f.06c23","name":"","filename":"Turbidity","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":989,"y":380,"wires":[[]]},{"id":"7915a20d.5aaa6c","type":"function","z":"9b7a912f.06c23","name":"Modify Payload","func":"var d = new Date();\nvar t = d.getTime();\npayload = {\"time\":t, \"payload\":msg.payload, \"topic\":msg.topic};\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":689,"y":560,"wires":[["456ace9.23b353"]]},{"id":"456ace9.23b353","type":"csv","z":"9b7a912f.06c23","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":849,"y":560,"wires":[["9aae11d0.3f95"]]},{"id":"9aae11d0.3f95","type":"file","z":"9b7a912f.06c23","name":"","filename":"Battery","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":989,"y":560,"wires":[[]]},{"id":"5c1e0b86.71d5e4","type":"function","z":"9b7a912f.06c23","name":"Modify Payload","func":"var d = new Date();\nvar t = d.getTime();\npayload = {\"time\":t, \"payload\":msg.payload, \"topic\":msg.topic};\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":689,"y":740,"wires":[["604c614e.97e43"]]},{"id":"604c614e.97e43","type":"csv","z":"9b7a912f.06c23","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":849,"y":740,"wires":[["af8ba728.041c08"]]},{"id":"af8ba728.041c08","type":"file","z":"9b7a912f.06c23","name":"","filename":"RSSI","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":979,"y":740,"wires":[[]]},{"id":"d5a8c95.a5a1f38","type":"function","z":"9b7a912f.06c23","name":"Modify Payload","func":"var d = new Date();\nvar t = d.getTime();\npayload = {\"time\":t, \"payload\":msg.payload, \"topic\":msg.topic};\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":689,"y":920,"wires":[["e62abc08.0a3da"]]},{"id":"e62abc08.0a3da","type":"csv","z":"9b7a912f.06c23","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":849,"y":920,"wires":[["ff7c3613.ca0e58"]]},{"id":"ff7c3613.ca0e58","type":"file","z":"9b7a912f.06c23","name":"","filename":"SNR","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":979,"y":920,"wires":[[]]},{"id":"e018144e.12b5d8","type":"function","z":"9b7a912f.06c23","name":"Modify Payload","func":"var d = new Date();\nvar t = d.getTime();\npayload = {\"time\":t, \"payload\":msg.payload, \"topic\":msg.topic};\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1460,"wires":[["d15c53b9.5bc66"]]},{"id":"d15c53b9.5bc66","type":"csv","z":"9b7a912f.06c23","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":560,"y":1460,"wires":[["3cb53a1c.a615b6"]]},{"id":"3cb53a1c.a615b6","type":"file","z":"9b7a912f.06c23","name":"","filename":"SamplePeriod","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":720,"y":1460,"wires":[[]]},{"id":"2e88afa9.4a441","type":"function","z":"9b7a912f.06c23","name":"Modify Payload","func":"var d = new Date();\nvar t = d.getTime();\npayload = {\"time\":t, \"payload\":msg.payload, \"topic\":msg.topic};\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":1860,"wires":[["6a0adb81.d26fb4"]]},{"id":"6a0adb81.d26fb4","type":"csv","z":"9b7a912f.06c23","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":520,"y":1860,"wires":[["c920a91.1427b58"]]},{"id":"c920a91.1427b58","type":"file","z":"9b7a912f.06c23","name":"","filename":"Shutdown","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":660,"y":1860,"wires":[[]]},{"id":"7f0dce90.2bd01","type":"inject","z":"9b7a912f.06c23","name":"Clear CSVs","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":950,"y":20,"wires":[["d1e380f0.57435","47835db.4132da4","56dadced.ad9394","8f9f65ba.ebac28","dee35e0f.6e345","b74059cc.c15588"]]},{"id":"d1e380f0.57435","type":"file","z":"9b7a912f.06c23","name":"","filename":"Temperature","appendNewline":true,"createDir":true,"overwriteFile":"delete","encoding":"none","x":1190,"y":20,"wires":[[]]},{"id":"47835db.4132da4","type":"file","z":"9b7a912f.06c23","name":"","filename":"Turbidity","appendNewline":true,"createDir":true,"overwriteFile":"delete","encoding":"none","x":1180,"y":60,"wires":[[]]},{"id":"56dadced.ad9394","type":"file","z":"9b7a912f.06c23","name":"","filename":"Battery","appendNewline":true,"createDir":true,"overwriteFile":"delete","encoding":"none","x":1180,"y":100,"wires":[[]]},{"id":"8f9f65ba.ebac28","type":"file","z":"9b7a912f.06c23","name":"","filename":"RSSI","appendNewline":true,"createDir":true,"overwriteFile":"delete","encoding":"none","x":1170,"y":140,"wires":[[]]},{"id":"dee35e0f.6e345","type":"file","z":"9b7a912f.06c23","name":"","filename":"SNR","appendNewline":true,"createDir":true,"overwriteFile":"delete","encoding":"none","x":1170,"y":180,"wires":[[]]},{"id":"b74059cc.c15588","type":"file","z":"9b7a912f.06c23","name":"","filename":"SamplePeriod","appendNewline":true,"createDir":true,"overwriteFile":"delete","encoding":"none","x":1200,"y":220,"wires":[[]]},{"id":"94d273a2.65172","type":"inject","z":"9b7a912f.06c23","name":"Clear Charts","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":20,"wires":[["5368860d.e441a8","cfb495bd.70dcc8","aa1f9abd.9f3ee8","58bbe321.77d62c","5f7a3fe6.a5fb5"]]},{"id":"b6e3e97.dc76418","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"910d54e9.4f0bd8","type":"ui_group","z":"","name":"Middle","tab":"a608a525.383b48","order":2,"disp":false,"width":"6","collapse":false},{"id":"3c0ed2bf.dc55be","type":"ui_group","z":"","name":"Left","tab":"a608a525.383b48","order":1,"disp":false,"width":"6","collapse":false},{"id":"3f09a072.15191","type":"ui_group","z":"","name":"Right","tab":"a608a525.383b48","order":3,"disp":false,"width":"6","collapse":false},{"id":"a608a525.383b48","type":"ui_tab","z":"","name":"MINIONS","icon":"dashboard","disabled":false,"hidden":false}]
